body {
	width: 100%;
	height: 100%;
	margin: 0;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100px;
	background-color: aliceblue;
}

img {
	height: 200px;
}

button {
	display: block;
	color: #fff;
	background-color: #1782c4;
	border-radius: 3px;
	padding: 3px;
	width: 60px;
	border: none;
}

button:hover {
	background-color: #1a91db;
	color: #fff;
}

.description-area {
	display: flex;
	align-items: center;
}

.img-btn {
	margin: 20px auto;
}

.description {
	width: 60%;
	display: flex;
	justify-content: center;
  align-items: center;
}

hr {
	color: #959595;
}

.select-breeds {
	display: flex;
	justify-content: center;
	align-items: center;
}

.select-breeds label {
	margin-right: 20px;
}
.select-breeds select {
	font-size: 110%;
	width: auto;
	padding: 2px;
	margin-right: 10px;
}

ul {
	list-style: none;
}

.dog-img-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.dog-img-list li {
	margin: 10px 20px;
}