body {
	width: 100%;
	height: 100%;
	margin: 0;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100px;
	background-color: aliceblue;
}

img {
	height: 200px;
}

button {
	display: block;
}

.description-area {
	display: flex;
	align-items: center;
}

.img-btn {
	margin: 20px auto;
}

.description {
	width: 60%;
	display: flex;
	justify-content: center;
  align-items: center;
}

hr {
	color: #959595;
}

.select-breeds {
	text-align: center;
}

.select-breeds label {
	margin-right: 20px;
}
.select-breeds select {
	font-size: 110%;
	width: auto;
}